{% extends 'blog/basic.html' %}

{% block css %}
<style>
    .btn-wrapper {
        margin-left: 100px;
        display: flex;
        justify-content: flex-end;
        margin-right: 40px;
        margin-top: 10px;

    }

    .btn-custom {
        color: white;
        background-color: green;
        text-decoration: none;

        width: 90px;
        height: 40px;

        font-size: 20px;
        letter-spacing: 1px;
        font-family: system-ui, sans-serif;

        border-radius: 10px;

        padding-top: 5px;
        display: flex;
        justify-content: center;

        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

        transition: 0.3s ease;
    }

    .btn-custom:hover {
        color: darkcyan;
        background-color: rgb(255, 255, 255);
        transform: translateY(-2px);
        text-decoration: none;
    }
</style>
{% endblock %}

{% block body %}

<div class="btn-wrapper">
    <a href="{% url 'blog:publish_blog' %}" class="btn-custom">Post</a>
</div>

<div class="container">

    <div class="row my-2">

        {% for post in posts %}

        <div class="col-md-6">

            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">

                <div class="col p-4 d-flex flex-column position-static">

                    <strong class="d-inline-block mb-2 text-success">
                        Blog Post
                    </strong>

                    <h3 class="mb-0">
                        {{ post.title }}
                    </h3>

                    <div class="mb-1 text-muted">
                        {{ post.pub_date }}
                    </div>

                    <p class="mb-auto">
                        {{ post.head2 }}
                    </p>

                    <a href="{% url 'blog:post_view' post.post_id %}" class="stretched-link">
                        Continue reading
                    </a>

                </div>


                <div class="col-auto d-none d-lg-block">

                    {% if post.thumbnail %}

                    <img src="{{ post.thumbnail.url }}" width="200" height="250" alt="{{ post.title }}">

                    {% else %}

                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="xMidYMid slice">

                        <rect width="100%" height="100%" fill="#55595c"></rect>

                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">
                            Thumbnail
                        </text>

                    </svg>

                    {% endif %}

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12">
            <h3>No Posts Available</h3>
        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}