{% extends 'shop/basic.html' %}
{% load static %}

{% block title %}Products - My Awesome Cart{% endblock %}

{% block css %}
/* Product card image sizing */
.card-img-top { height: 200px; object-fit: cover; width:100%; }
@media (max-width: 576px) { .card-img-top { height: 140px; } }
{% endblock %}

{% block body %}
<div class="container mt-4">
  <div class="row">
    {% for p in product %}
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          {% if p.image_url %}
            <img src="{{ p.image_url }}" class="card-img-top" alt="{{ p.Product_name }}">
          {% elif p.has_image_file %}
            <img src="{{ p.image.url }}" class="card-img-top" alt="{{ p.Product_name }}">
          {% else %}
            <img src="{% static 'shop/assets/logo.png' %}" class="card-img-top" alt="placeholder">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ p.Product_name }}</h5>
            <p class="card-text">{{ p.desc|default:""|truncatechars:100 }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ p.price }}</p>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>No products found.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
